<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  
  <filter>
  	<filter-name>EncodingFilter</filter-name>
  	<filter-class>cn.edu.sjzc.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>EncodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
  	<filter-name>LoginFilter</filter-name>
  	<filter-class>cn.edu.sjzc.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>LoginFilter</filter-name>
  	<url-pattern>/client/order.jsp</url-pattern>
  </filter-mapping>
  

  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>cn.edu.sjzc.servlet.client.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.edu.sjzc.servlet.client.LoginServlet</servlet-class>
  </servlet>
    <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>OrderLoginServlet</servlet-name>
    <servlet-class>cn.edu.sjzc.servlet.client.OrderLoginServlet</servlet-class>
  </servlet>
  
  
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddCartServlet</servlet-name>
    <servlet-class>cn.edu.sjzc.servlet.client.AddCartServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ChangeCartServlet</servlet-name>
    <servlet-class>cn.edu.sjzc.servlet.client.ChangeCartServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CreateOrderServlet</servlet-name>
    <servlet-class>cn.edu.sjzc.servlet.client.CreateOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowProductByPage</servlet-name>
    <servlet-class>cn.edu.sjzc.servlet.client.ShowProductByPage</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MenuSearchServlet</servlet-name>
    <servlet-class>cn.edu.sjzc.servlet.client.MenuSearchServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProductListServlet</servlet-name>
    <servlet-class>cn.edu.sjzc.servlet.manager.ProductListServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FindProductByCondition</servlet-name>
    <servlet-class>cn.edu.sjzc.servlet.manager.FindProductByCondition</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddProductServlet</servlet-name>
    <servlet-class>cn.edu.sjzc.servlet.manager.AddProductServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FindProductById</servlet-name>
    <servlet-class>cn.edu.sjzc.servlet.client.FindProductById</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EditProductServlet</servlet-name>
    <servlet-class>cn.edu.sjzc.servlet.manager.EditProductServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteProductServlet</servlet-name>
    <servlet-class>cn.edu.sjzc.servlet.manager.DeleteProductServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>OrderListServlet</servlet-name>
    <servlet-class>cn.edu.sjzc.servlet.manager.OrderListServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FindOrderByCondition</servlet-name>
    <servlet-class>cn.edu.sjzc.servlet.manager.FindOrderByCondition</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FindOrderByIdServlet</servlet-name>
    <servlet-class>cn.edu.sjzc.servlet.manager.FindOrderByIdServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteOrderServlet</servlet-name>
    <servlet-class>cn.edu.sjzc.servlet.manager.DeleteOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetAnnounce</servlet-name>
    <servlet-class>cn.edu.sjzc.servlet.client.GetAnnounce</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddNoticeServlet</servlet-name>
  	<servlet-class>cn.edu.sjzc.servlet.manager.AddNoticeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FindNoticeServlet</servlet-name>
  	<servlet-class>cn.edu.sjzc.servlet.manager.FindNoticeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ModifyNoticeServlet</servlet-name>
    <servlet-class>cn.edu.sjzc.servlet.manager.ModifyNoticeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetWeekHotProduct</servlet-name>
    <servlet-class>cn.edu.sjzc.servlet.client.GetWeekHotProduct</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowMyAccount</servlet-name>
    <servlet-class>cn.edu.sjzc.servlet.client.ShowMyAccount</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ModifyUserServlet</servlet-name>
    <servlet-class>cn.edu.sjzc.servlet.client.ModifyUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ModifyUserPassword</servlet-name>
    <servlet-class>cn.edu.sjzc.servlet.client.ModifyUserPassword</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>cn.edu.sjzc.servlet.client.LogoutServlet</servlet-class>
  </servlet>

  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowMyOrderList</servlet-name>
    <servlet-class>cn.edu.sjzc.servlet.client.ShowMyOrderList</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ConfirmOrderServlet</servlet-name>
    <servlet-class>cn.edu.sjzc.servlet.client.ConfirmOrderServlet</servlet-class>
  </servlet>































  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>OrderLoginServlet</servlet-name>
    <url-pattern>/OrderLoginServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>AddCartServlet</servlet-name>
    <url-pattern>/AddCartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeCartServlet</servlet-name>
    <url-pattern>/ChangeCartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateOrderServlet</servlet-name>
    <url-pattern>/CreateOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowProductByPage</servlet-name>
    <url-pattern>/ShowProductByPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MenuSearchServlet</servlet-name>
    <url-pattern>/MenuSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductListServlet</servlet-name>
    <url-pattern>/ProductListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindProductByCondition</servlet-name>
    <url-pattern>/FindProductByCondition</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddProductServlet</servlet-name>
    <url-pattern>/AddProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindProductById</servlet-name>
    <url-pattern>/FindProductById</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditProductServlet</servlet-name>
    <url-pattern>/EditProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteProductServlet</servlet-name>
    <url-pattern>/DeleteProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderListServlet</servlet-name>
    <url-pattern>/OrderListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindOrderByCondition</servlet-name>
    <url-pattern>/FindOrderByCondition</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindOrderByIdServlet</servlet-name>
    <url-pattern>/FindOrderByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteOrderServlet</servlet-name>
    <url-pattern>/DeleteOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetAnnounce</servlet-name>
    <url-pattern>/GetAnnounce</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddNoticeServlet</servlet-name>
  	<url-pattern>/AddNoticeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FindNoticeServlet</servlet-name>
  	<url-pattern>/FindNoticeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyNoticeServlet</servlet-name>
    <url-pattern>/ModifyNoticeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetWeekHotProduct</servlet-name>
    <url-pattern>/GetWeekHotProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowMyAccount</servlet-name>
    <url-pattern>/ShowMyAccount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyUserServlet</servlet-name>
    <url-pattern>/ModifyUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyUserPassword</servlet-name>
    <url-pattern>/ModifyUserPassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ShowMyOrderList</servlet-name>
    <url-pattern>/ShowMyOrderList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ConfirmOrderServlet</servlet-name>
    <url-pattern>/ConfirmOrderServlet</url-pattern>
  </servlet-mapping>


</web-app>
