

#inner_form{
	width: 20%;
	height: 28%;

	margin-bottom: -60px;
	text-align: center;
	padding: 30px 10px 10px 10px;
	box-shadow: 5px 5px 5px 5px gray;
	border-radius: 10px;
	
	float:right;
	
	position: relative;
	right: 130px;
	top:-272px;
	
}
#input_table{
	margin:auto;
}

form{
	width: 100%;
	height: auto;
	margin: auto;
}

.textname{
	text-align: right;
	padding-top: 5px;
}
